<!-- <app-header></app-header> -->

<!-- Page Title (Light)-->
<app-breadcrumbs title="Cookie Policy" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="container py-5 mt-md-2 mb-2">
    <div class="row">


        <div class="col-lg-12">
            <ul class="list-unstyled fs-sm pt-2 text-muted">
                <li class="d-flex align-items-center mb-2">
                    <i class="ci-check text-success me-2"></i>
                    <span>
                        <p> Our fried chicken restaurant's Online Ordering Platform uses cookies to enhance your
                            browsing
                            experience and
                            personalize the content that you see. Cookies are small text files that are stored on your
                            device when you visit our Online Ordering Platform.
                        </p>
                    </span>
                </li>
                <li class="d-flex align-items-center mb-2">
                    <i class="ci-check text-success me-2"></i><span>
                        <p>We use cookies to analyze Online Ordering Platform traffic, track user behavior, and improve
                            our
                            Online Ordering Platform's functionality. By using cookies, we can tailor your experience to
                            your preferences and
                            provide you with a more personalized browsing experience.
                        </p>
                    </span>
                </li>
                <li class="d-flex align-items-center mb-2">
                    <i class="ci-check text-success me-2"></i><span>
                        <p>We also use cookies to collect information about your device, including your IP address,
                            browser type, and operating system. This information helps us to understand how users
                            interact with our Online Ordering Platform and improve its performance.
                        </p>
                    </span>
                </li>
                <li class="d-flex align-items-center mb-2">
                    <i class="ci-check text-success me-2">
                    </i><span>
                        <p>We do not sell or share any personal information that we collect through cookies with third
                            parties. By using our Online Ordering Platform, you consent to the use of cookies in
                            accordance with
                            our
                            Cookie Policy.
                        </p>
                    </span>
                </li>
                <li class="d-flex align-items-center mb-2">
                    <i class="ci-check text-success me-2"></i>
                    <span>
                        <p>If you do not wish to have cookies stored on your device, you can adjust your browser
                            settings to reject cookies or to notify you when a cookie is being sent. Please note that
                            disabling cookies may limit your ability to use certain features of our online ordering
                            platform.
                        </p>
                    </span>
                </li>
                <li class="d-flex align-items-center mb-2">
                    <i class="ci-check text-success me-2"></i><span>
                        <p>We may update our Cookie Policy from time to time, so we encourage you to review it
                            periodically. If you have any questions or concerns about our Cookie Policy, please contact
                            us.
                        </p>
                    </span>
                </li>
            </ul>

            <!-- Submit request-->
            <section class="container text-center pt-5 mt-2">
                <h2 class="h4 pb-3">Do You Have Any Query? Submit a request. We can help.</h2><i
                    class="ci-help h3 text-primary d-block mb-4"></i><a class="btn btn-primary"
                    routerLink="/pages/submit-request">Submit a request</a>
                <p class="fs-sm pt-4">Contact us and we’ll get back to you as soon as possible.</p>
            </section>
        </div>
    </div>
</div>

<!-- Footer-->
<!-- <app-footer></app-footer> -->