<app-header></app-header>
<!-- Page title-->
<section class="bg-darker bg-size-cover bg-position-center py-5"
    style="background-image: url(assets/img/food-delivery/restaurants/single/pt-bg.jpg);">
    <div class="container py-md-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                <li class="breadcrumb-item"><a class="text-nowrap" href="javascript:void(0);" routerLink="/"><i
                            class="ci-home"></i>Home</a>
                </li>
                <li class="breadcrumb-item text-nowrap"><a href="javascript:void(0);">Menu</a>
                </li>
                <ng-container *ngIf="category_name_header">
                    <li class="breadcrumb-item text-nowrap active" aria-current="page">
                        {{getCategoryDescription(category_name_header) |
                        titlecase}}</li>
                </ng-container>
            </ol>
        </nav>
        <ng-container *ngIf="category_name_header">
            <h1 class="text-light text-center text-lg-start py-3">{{getCategoryDescription(category_name_header)}}</h1>
        </ng-container>
    </div>
</section>

<!-- Page navigation-->

<nav class="container" *ngIf="category_list.length > 0">
    <div class="d-flex align-items-center bg-white rounded-3 shadow-lg py-2 ps-sm-2 pe-lg-2">
        <div class="ps-lg-3 w-100 text-end">
            <div class="d-flex align-items-center">
                <div ngbDropdown class="dropdown d-lg-none ms-auto">
                    <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="dropdown" ngbDropdownToggle
                        aria-haspopup="true" aria-expanded="false"><i class="ci-menu fs-base me-2"></i></button>
                    <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item fs-base"
                            *ngFor="let category of category_list;let j = index;trackBy:fromDataResolver.identify;"
                            (click)="selectcategory(category?._id,$event);scrollToCategory(category?._id);"
                            href="javascript:void(0);">{{category.title}}
                        </a>
                    </div>
                </div>
                <div class="vertical-category-list d-lg-none">
                    <div class="category-container">
                        <a *ngFor="let category of category_list" class="category-item"
                            (click)="selectcategory(category?._id, $event);scrollToCategory(category?._id);"
                            [class.active]="isActive(category?._id)" tabindex="0" href="javascript:void(0);">
                            {{ category.title }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container" style="max-width: 100%;">
    <div class="row menu-layout">
        <!-- Category List -->
        <div class="col-lg-2 d-none d-lg-block category-list-container category-list">
            <h5>Categories</h5>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let category of category_list"
                    (click)="selectcategory(category?._id,$event);scrollToCategory(category?._id);">
                    {{ category?.title }}
                </li>
            </ul>
        </div>

        <!-- Products List -->
        <div class="col-lg-10 col-md-12 product-list-container">
            <div *ngIf=" loading">
                <div class="loading-container">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <p>Loading products, please wait...</p>
                </div>
            </div>

            <div class="activation-area product-list" *ngIf="!loading">
                <section class="tab-content py-sm-2">
                    <div class="row pt-3 d-flex">
                        <div class="col-12"
                            *ngFor="let product_group of products; let i = index; trackBy: fromDataResolver.identify;"
                            [id]="'category-' + product_group.cat_id">
                            <p>{{ product_group.cat_desc | titlecase }}</p>
                            <div class="d-flex flex-wrap" style="padding: 2px;">
                                <div *ngFor="let item of product_group.product_items; let j = index; trackBy: fromDataResolver.identify;"
                                    class="product-item col-12 col-md-6" style="padding: 1px;">
                                    <div class="card product-card border pb-2"
                                        style="padding: 8px; background-color: white;">
                                        <div class="d-flex">
                                            <img class="card-img-top" src="{{item?.img_url}}" alt="{{item?.title}}"
                                                (click)="gotoProductView(item?._id)"
                                                style="height: 125px; width: 125px; object-fit: cover; margin-left: 10px;">
                                            <div class="flex-grow-1">
                                                <h3 class="product-title fs-md">{{item?.title}}</h3>
                                                <p class="fs-ms text-muted">{{item?.description}}</p>
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="product-price">
                                                        <span class="text-accents">
                                                            <img src="assets/aedsymbol.png" alt="aed symbol" />
                                                            {{item?.price | number: '1.2-2'}}
                                                        </span>
                                                    </div>
                                                    <button *ngIf="!getItemStatus(item._id)"
                                                        class="btn btn-primary btn-sm" type="button"
                                                        (click)="openModal(content, item._id)">
                                                        <i class="ci-cart fs-base me-1"></i>Add
                                                    </button>

                                                    <div *ngIf="getItemStatus(item._id)">
                                                        <div class="quantity-controls d-flex align-items-center">
                                                            <button
                                                                class="btn btn-outline-secondary btn-sm quantity-btn"
                                                                (click)="decreaseQuantity(item)"
                                                                [attr.aria-label]="item.qty === 1 ? 'Remove item' : 'Decrease quantity'">
                                                                <i *ngIf="item.qty >= 2" class="ci-minus">-</i>
                                                                <i *ngIf="item.qty === 1" class="ci-trash"></i>
                                                            </button>

                                                            <div class="quantity-display mx-2">
                                                                <input type="number"
                                                                    class="form-control form-control-sm text-center quantity-input"
                                                                    [value]="item.qty" [(ngModel)]="item.qty"
                                                                    (change)="onQuantityChange(item)" min="1" readonly
                                                                    aria-label="Quantity">
                                                            </div>

                                                            <button
                                                                class="btn btn-outline-secondary btn-sm quantity-btn"
                                                                (click)="increaseQuantity(item)"
                                                                aria-label="Increase quantity">
                                                                <i class="ci-plus">+</i>
                                                            </button>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>

<!-- <nav class="container mt-n5 " *ngIf="category_list.length>0"> -->
<nav class="container" style="max-width: 100%;" *ngIf="category_list.length > 0">
    <div class="d-flex align-items-center bg-white rounded-3 shadow-lg py-2 ps-sm-2 pe-lg-2">
        <div class="ps-lg-3 w-100 text-end">

            <!-- <div class="coupon-cards-container">
                <div class="coupon-cards-wrapper">
                    <div *ngFor="let coupon of coupons; let i = index; trackBy: fromDataResolver.identify;"
                        class="coupon-card" [class.coupon-card--active]="coupon.isActive"
                        [class.coupon-card--clickable]="!coupon.isAutoApplied" (click)="onCouponClick(coupon)"
                        [attr.tabindex]="coupon.isAutoApplied ? -1 : 0" role="button">


                        <div class="coupon-card__top">
                            <div class="coupon-card__discount">{{ coupon.discount }}</div>
                            <div class="coupon-card__subtitle">{{ coupon.subtitle }}</div>
                        </div>


                        <div class="coupon-card__separator"></div>


                        <div class="coupon-card__bottom">
                            <span class="coupon-card__code" *ngIf="!coupon.isAutoApplied">
                                {{ coupon.code }}
                            </span>
                            <span class="coupon-card__auto-applied" *ngIf="coupon.isAutoApplied">
                                Auto Applied
                            </span>
                            <i class="ci-arrow-right coupon-card__arrow" *ngIf="showArrows"></i>
                        </div>


                        <div class="coupon-card__cutout coupon-card__cutout--left"></div>

                        <div class="coupon-card__cutout coupon-card__cutout--right"></div>
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</nav>

<app-footer></app-footer>

<!-- Quick View Modal-->
<ng-template #content role="document" let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{productdetail.title}}</h4>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body d-flex flex-column">
            <div class="me-3 align-items-center text-center">
                <img src="{{productdetail.img_url}}" alt="{{productdetail.title}}" class="img-fluid"
                    style="max-width: 200px;">
            </div>
            <div>
                <h5 class="h6 mb-1 pb-3 border-bottom"><i
                        class="ci-announcement text-muted fs-lg align-middle mt-n1 me-2"></i>Product
                    info</h5>
                <p class="fs-sm">{{productdetail.description}}</p>
                <ng-container *ngIf="productdetail.group_modifiers_list.length>0">
                    <div *ngFor="let group_modifier of productdetail.group_modifiers_list">
                        <div class="mb-1" *ngIf="group_modifier.mtype == 0">
                            <div class="row justify-content-between">
                                <label class="form-label">{{ group_modifier.title }} <span class="text-danger"
                                        *ngIf="group_modifier.mtype == 0 && group_modifier.selected==false"> *
                                        Required</span></label>

                            </div>
                            <div class="mobile-modifiers d-flex flex-wrap overflow-auto"
                                style="max-height: 200px; padding: 10px; border: 1px solid #ddd; border-radius: 5px;">
                                <div *ngFor="let modifier of group_modifier.modifiers_list" class="form-check"
                                    style="flex: 1 1 calc(33.33% - 10px); margin: 5px;"
                                    (click)="onModifierChange(productdetail,group_modifier,modifier)">
                                    <input type="radio" id="{{ modifier.id }}" name="{{ group_modifier.title }}"
                                        [checked]="modifier.selected" value="{{ modifier.price }}"
                                        class="form-check-input">
                                    <label id="{{ modifier.id }}-label" for="{{ modifier.id }}"
                                        class="form-check-label text-accents">
                                        {{ modifier.title }} + ( <img src="assets/aedsymbol.png" alt="aed symbol" /> {{
                                        modifier.price | number: '1.2-2' }} )
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="mb-1" *ngIf="group_modifier.mtype == 1">
                            <label id="{{ group_modifier.id }}-label" class="form-label">{{ group_modifier.title
                                }}</label>
                            <div class="mobile-modifiers d-flex flex-wrap overflow-auto"
                                style=" padding: 10px; border: 1px solid #ddd; border-radius: 5px;">
                                <div *ngFor="let modifier of group_modifier.modifiers_list" class="form-check"
                                    style="flex: 1 1 calc(33.33% - 10px); margin: 5px;"
                                    (click)="onModifierChange(productdetail,group_modifier,modifier)">
                                    <input type="checkbox" id="{{ modifier.id }}" name="{{ group_modifier.title }}"
                                        [checked]="modifier.selected" value="{{ modifier.price }}"
                                        class="form-check-input">
                                    <label id="{{ modifier.id }}-label" for="{{ modifier.id }}"
                                        class="form-check-label text-accents">
                                        {{ modifier.title }} + ( <img src="assets/aedsymbol.png" alt="aed symbol" /> {{
                                        modifier.price | number: '1.2-2' }})
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <div class="mb-1">
                    <label class="form-label">Special Instructions</label>
                    <!-- <input type="text" class="form-control" [(ngModel)]="specialInstructions"
                        placeholder="Instructions"> -->
                    <input type="text" class="form-control" placeholder="Instructions">
                </div>
            </div>
        </div>

        <div class="modal-footer d-flex">
            <div class="row col-lg-12 d-flex align-items-center pb-3">
                <div class="mb-1 col-md-4 d-flex align-items-center justify-content-center">
                    <strong>Total Price: <span class="text-accents"><img src="assets/aedsymbol.png" alt="aed symbol" />
                            {{productdetail.total_price|number:'1.2-2'}}
                        </span></strong>
                </div>
                <div class="col-md-4 d-flex align-items-center justify-content-center">

                    <div class="d-flex mb-3 ">
                        <button class="btn btn-outline-secondary"
                            style="margin-left: 5px;margin-right: 5px;padding:10px;"
                            (click)="decreaseQuantity(productdetail)">-</button>
                        <div class="d-flex justify-content-center "
                            style="border: 1px solid #ddd; border-radius: 5px; background-color: #f9f9f9;">
                            <input type="number" class="form-control  text-center" min="1"
                                style="text-decoration-color: black; width: 100px; border: none; background: transparent; outline: none;margin-left: 5px;margin-right: 5px;"
                                disabled value="{{productdetail.qty}}" [(ngModel)]="productdetail.qty"
                                (change)="onQuantityChange(productdetail)" aria-label="
                                            Quantity">
                        </div>
                        <button class="btn btn-outline-secondary"
                            style="margin-left: 5px;margin-right: 5px;padding:10px;"
                            (click)="increaseQuantity(productdetail)">+</button>
                    </div>
                </div>
                <div class="d-noflex  mb-3 col-md-4 justify-content-center"><button type="button"
                        class="btn btn-primary mr-2" (click)="addnewitem(productdetail)">Add
                        to
                        Cart</button>
                    <button type="button" class="btn btn-outline-primary " style="margin-left: 5px;"
                        (click)="modal.dismiss('Cross click')">Cancel</button>
                </div>

            </div>
        </div>
    </div>
</ng-template>