<app-header></app-header>

<section class="bg-darker bg-size-cover bg-position-center py-5"
  style="background-image: url(assets/img/food-delivery/restaurants/single/pt-bg.jpg);">
  <div class="container py-md-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
        <li class="breadcrumb-item"><a class="text-nowrap" href="javascript:void(0);" routerLink="/"><i
              class="ci-home"></i>Home</a>
        </li>
        <li class="breadcrumb-item text-nowrap"><a href="javascript:void(0);">About Us</a>
        </li>
      </ol>
    </nav>
    <h1 class="text-light text-center text-lg-start py-3">About Us</h1>
  </div>
</section>
<div class="activation-area">


  <!-- <section class="tns-carousel">
    <swiper class="swiper-container" [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div>
            <div class="px-md-5 text-center text-xl-start" style="background-color: #1a6fb0;">
              <div class="d-xl-flex justify-content-between align-items-center px-4 px-sm-5 mx-auto"
                style="max-width: 1226px;">
                <div class="py-5 me-xl-4 mx-auto mx-xl-0" style="max-width: 490px;">
                  <h2 class="h1 text-light">24/7 Delivery Service</h2>
                  <p class="text-light pb-4">Order any goods from our store online and we
                    deliver them
                    to your door at
                    a time convenient for you.</p>
                </div>
                <div><img class="img-responsive" src="assets/img/grocery/slider/slide02.jpg" alt="Image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </swiper>
  </section> -->

  <!-- Row: Shop online-->


  <section class="row g-0">
    <div class="container py-3 py-lg-0 mt-2 mb-0">
      <div class="row abt-in-rw1">
        <div class="col-md-6 px-3 px-md-5 py-5">
          <h2 class="mainhead">
            <span>our company</span> We’re passionate about fastfood in 20+ years
          </h2>
          <div>
            <p class="fs-ms pb-3 text-muted">A new professional cookery brand in the UAE will debut in the middle of
              2022 with the objective of
              becoming the region's most popular restaurant chain. The culinary service at this lavish fast food
              restaurant is aimed to combine contemporary and tradition. ChikeX aspires to serve delicious, high-quality
              meals at an accessible price. Its major goal is to 'FEED THEM MORE with opulent cuisine, EXCEPTIONALLY
              TASTY.</p>
            <p class="fs-ms pb-3 text-muted">It's a Halal-certified international quick service restaurant chain. In an
              ultra-modern setting, it
              serves fresh, tasty, and beautiful meals made with high-quality herbs and spices hand-picked from across
              the world to produce unique sensations.</p>
            <p class="fs-ms pb-3 text-muted">The visionaries' long-held dream has come true thanks to their dedication
              to high-quality and global
              practices. The first order of business is to provide service to all emirates in the UAE. Chikex, as
              anticipated by our customer base, offers a distinct and diverse menu inspired by global flavors:
              Astringent American, Aromatic Arabic, mellow mexi, can, Invigorating Indian, and Irresistible Italian.</p>
          </div>
        </div>


        <div class="col-md-6 bg-position-center bg-size-cover">
          <div class="abt-img-hold">
            <img src="assets/uploads/2022/11/about.png" class="img-responsive" alt=" about-img">
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="reasons-why text-center py-4 bg-white">
    <h2 class="text-uppercase fs-5">REASONS WHY PEOPLE LOVE</h2>
    <h1 class="font-weight-bold text-dark-red">
      CHIKEX <span class="font-weight-bold text-orange">SO MUCH</span>
    </h1>
    <div class="row counters d-flex justify-content-between mt-4 m-2">
      <div class="counter col-xl-4 col-lg-12 col-md-4">
        <h3 class="count" data-target="164684">0</h3>
        <p>BELOVED CUSTOMERS</p>
      </div>
      <div class="counter col-xl-4 col-lg-12 col-md-4">
        <h3 class="count" data-target="58845">0</h3>
        <p>DELIVERED ORDERS</p>
      </div>
      <div class="counter col-xl-4 col-lg-12 col-md-4 ">
        <h3 class="count" data-target="12573">0</h3>
        <p>POSITIVE REVIEWS</p>
      </div>
    </div>
  </section>

  <!-- <section class="row g-0">
    <div class="col-md-6 bg-position-center bg-size-cover bg-secondary"
      style="min-height: 15rem; background-image: url(assets/img/about/01.jpg);"></div>
    <div class="col-md-6 px-3 px-md-5 py-5">
      <div class="mx-auto py-lg-5" style="max-width: 35rem;">
        <h2 class="h3 pb-3">Search, Select, Buy online</h2>
        <p class="fs-sm pb-3 text-muted">Welcome to our restaurant's online ordering platform! Simply search our menu,
          select your favorite items, and buy them online for delivery. Enjoy our classic fried chicken, crispy tenders,
          and much more from the comfort of your own home. We accept all cards and provide a
          convenient ordering process.</p><a class="btn btn-primary btn-shadow" routerLink="/menu">View products</a>
      </div>
    </div>
  </section> -->

  <!-- Row: Delivery-->

  <!-- <section class="row g-0">
    <div class="col-md-6 bg-position-center bg-size-cover bg-secondary order-md-2"
      style="min-height: 15rem; background-image: url(assets/img/about/02.jpg);"></div>
    <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
      <div class="mx-auto py-lg-5" style="max-width: 35rem;">
        <h2 class="h3 pb-3">Fast delivery</h2>
        <p class="fs-sm pb-3 text-muted">We prioritize speed and accuracy in our delivery service, so you can enjoy your
          meal without any delays or issues.Once your order is accepted, we prioritize preparing your food promptly and
          efficiently. Our dedicated team works hard to ensure that your food is made fresh and delivered to you within
          30
          minutes of the order processing time.
          We understand that our customers have busy schedules, which is why we offer a variety of delivery options to
          fit
          your needs. Whether you prefer to have your food delivered to your doorstep.</p>
         
      </div>
    </div>
  </section> -->

  <!-- Row: Mobile app-->
  <!-- <section class="row g-0">
  <div class="col-md-6 bg-position-center bg-size-cover bg-secondary"
    style="min-height: 15rem; background-image: url(assets/img/about/03.jpg);"></div>
  <div class="col-md-6 px-3 px-md-5 py-5">
    <div class="mx-auto py-lg-5" style="max-width: 35rem;">
      <h2 class="h3 pb-3">Great mobile app. Shop on the go</h2>
      <p class="fs-sm pb-3 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id purus at
        risus pellentesque faucibus a quis eros. In eu fermentum leo. Integer ut eros lacus. Proin ut accumsan leo.
        Morbi vitae est eget dolor consequat aliquam eget quis dolor. Mauris rutrum fermentum erat, at euismod. Duis
        erat lectus, ultrices euismod sagittis at dolor tristique nec. Tristique nulla aliquet enim tortor at auctor
        urna nunc. Sit amet aliquam id diam maecenas ultricies mi eget.</p><a class="btn-market btn-apple me-3 mb-3"
        href="javascript:void(0);" role="button"><span class="btn-market-subtitle">Download on the</span><span
          class="btn-market-title">App Store</span></a><a class="btn-market btn-google mb-3" href="javascript:void(0);"
        role="button"><span class="btn-market-subtitle">Download on the</span><span class="btn-market-title">Google
          Play</span></a>
    </div>
  </div>
</section> -->
  <!-- Section: Shopping outlets-->

  <!-- <section class="row g-0">
    <div class="col-md-6 bg-position-center bg-size-cover bg-secondary "
      style="min-height: 15rem; background-image: url(assets/img/about/04.jpg);"></div>
    <div class="col-md-6 px-3 px-md-5 py-5 order-md-1">
      <div class="mx-auto py-lg-5" style="max-width: 35rem;">
        <h2 class="h3 pb-3">Visit outlets</h2>
        <p class="fs-sm pb-3 text-muted">Come visit our outlets to enjoy our delicious menu items in a warm
          and
          inviting atmosphere. Our soft lighting and comfortable seating make for a comfortable dining experience. Our
          friendly staff are always on hand to assist you and provide recommendations. Join us for some classic fried
          chicken, crispy tenders, burgers and more - we promise to leave you wanting more!.</p><a
          class="btn btn-warning btn-shadow" routerLink="/pages/contacts">See outlets</a>
      </div>
    </div>
  </section> -->

  <!-- Section: Team-->

  <!-- <section class="container py-3 py-lg-5 mt-4 mb-3">
    <h2 class="h3 my-2">Our core team</h2>
    <p class="fs-sm text-muted">People behind your great shopping experience</p>
    <div class="row pt-3">
      <div class="col-lg-4 col-sm-6 mb-grid-gutter"
        *ngFor="let data of teamDatas; let j = index;trackBy:fromDataResolver.identify;">
        <div class="d-flex align-items-center"><img class="rounded-circle" src="{{data.image}}" width="96"
            alt="Jonathan Doe">
          <div class="ps-3">
            <h6 class="fs-base pt-1 mb-1">{{data.name}}</h6>
            <p class="fs-ms text-muted mb-0">{{data.position}}</p><a class="nav-link-style fs-ms text-nowrap"
              href="mailto:johndoe@example.com"><i class="ci-mail me-2"></i>{{data.email}}</a>
          </div>
        </div>
      </div>
    </div>
  </section> -->
</div>
<!-- Footer-->
<app-footer></app-footer>