.select-location-button {
    background-color: #f0f8ff;
    /* Light blue background */
    border: 1px solid #b0e0e6;
    /* Light blue border */
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #e6f7ff;
        /* Slightly darker on hover */
    }

    .circle-icon {
        background-color: #ff4d4f;
        /* Red background */
        border-radius: 50%;
        /* Circular shape */
        width: 30px;
        /* Width of the circle */
        height: 30px;
        /* Height of the circle */
        display: flex;
        align-items: center;
        justify-content: center;

        i {
            color: white;
            /* White icon color */
        }
    }
}

.scrolling-ad {
    background-color: #f8f9fa; // Light background for visibility
    padding: 5px 0px; // Add padding for better appearance
    position: relative;
    overflow: hidden;

    .ad-content {
        white-space: nowrap;
        animation: scroll 10s linear infinite; // Adjust speed as needed
        display: inline-block;

        @keyframes scroll {
            0% {
                transform: translateX(100%);
            }

            100% {
                transform: translateX(-100%);
            }
        }
    }
}

.bahrain-link {
    margin-left: auto; // Push the link to the right
    display: flex; // Flexbox for alignment
    align-items: center; // Center vertically

    .btn-link {
        display: flex;
        align-items: center;
        background-color: #007bff; // Bootstrap primary color
        color: white;
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;

        i {
            margin-left: 5px; // Space between text and icon
        }

        &:hover {
            background-color: #0056b3; // Darker shade on hover
        }
    }
}