<!-- <app-header></app-header> -->

<!-- Page Title (Light)-->
<app-breadcrumbs title="Privacy Policy" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>

<div class="container py-5 mt-md-2 mb-2">
    <div class="row">


        <div class="col-lg-12">
            <p>This privacy policy outlines how our restaurant ecommerce Online Ordering Platform collects, uses, and
                protects the
                personal information of its users. This policy is in compliance with the General Data Protection
                Regulation (GDPR).</p>
            <ngb-accordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="false" class="accordion-flush">
                <!-- Shoes-->
                <ngb-panel id="static-1">
                    <ng-template ngbPanelTitle class="accordion-header">
                        Collection of Personal Information
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="card-body fs-md">
                            <p>We collect personal information such as name, email address, phone number, and billing
                                information when you place an order on our Online Ordering Platform. We also collect
                                information about
                                your device, location, and browsing behavior on our Online Ordering Platform. This
                                information is
                                collected through cookies and/or similar technologies.</p>
                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-2">
                    <ng-template ngbPanelTitle class="accordion-header">
                        Use of Personal Information
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="card-body fs-md">
                            <p>We use your personal information to process your orders, communicate with you about your
                                order, and to improve our Online Ordering Platform and services. We may also use your
                                information
                                to send you marketing communications, but only if you have given us permission to do so
                                by the way of enabling and disabling the subscription or notifications.</p>

                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-3">
                    <ng-template ngbPanelTitle class="accordion-header">
                        Sharing of Personal Information
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="card-body fs-md">
                            <p>We do not share your personal information with any third parties except for the purposes
                                of processing your order, such as with payment processors and shipping companies. We may
                                also share your information with law enforcement agencies if required by law.</p>

                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-4">
                    <ng-template ngbPanelTitle class="accordion-header">
                        Protection of Personal Information
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="card-body fs-md">
                            <p>We take reasonable measures to protect your personal information from unauthorized
                                access, disclosure, or misuse. We use secure technologies such as SSL encryption to
                                ensure that your information is transmitted securely over the internet.</p>

                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-5">
                    <ng-template ngbPanelTitle class="accordion-header">
                        Retention of Personal Information
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="card-body fs-md">
                            <p>We will retain your personal information only as long as necessary to fulfill the
                                purposes for which it was collected, unless a longer retention period is required by
                                law.</p>

                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-6">
                    <ng-template ngbPanelTitle class="accordion-header">
                        Your Rights
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="card-body fs-md">
                            <p>You have the right to access, correct, or delete your personal information that we have
                                collected. You also have the right to object to the processing of your personal
                                information and to withdraw your consent to receive marketing communications. To
                                exercise your rights, please contact us at the contact information provided below.</p>

                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-7">
                    <ng-template ngbPanelTitle class="accordion-header">
                        Changes to this Policy
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="card-body fs-md">
                            <p>We may update this privacy policy from time to time. We will notify you of any
                                significant changes to this policy by email or by posting a notice on our Online
                                Ordering Platform.</p>

                        </div>
                    </ng-template>
                </ngb-panel>
                <ngb-panel id="static-8">
                    <ng-template ngbPanelTitle class="accordion-header">
                        Contact Information
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <div class="card-body fs-md">
                            <p>If you have any questions or concerns about this privacy policy or our handling of your
                                personal information, please contact us at <a
                                    href="mailto:info.chikex@gmail.com">info.chikex@gmail.com</a>.</p>
                        </div>
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>

            <!-- Submit request-->
            <section class="container text-center pt-5 mt-2">
                <h2 class="h4 pb-3">Do You Have Any Query? Submit a request. We can help.</h2><i
                    class="ci-help h3 text-primary d-block mb-4"></i><a class="btn btn-primary"
                    routerLink="/pages/submit-request">Submit a request</a>
                <p class="fs-sm pt-4">Contact us and we’ll get back to you as soon as possible.</p>
            </section>
        </div>
    </div>
</div>

<!-- Footer-->
<!-- <app-footer></app-footer> -->