<app-header></app-header>

<section class="bg-darker bg-size-cover bg-position-center py-5"
  style="background-image: url(assets/img/food-delivery/restaurants/single/pt-bg.jpg);">
  <div class="container py-md-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
        <li class="breadcrumb-item"><a class="text-nowrap" href="javascript:void(0);" routerLink="/"><i
              class="ci-home"></i>Home</a>
        </li>
        <li class="breadcrumb-item text-nowrap"><a href="javascript:void(0);">Order Confirmation</a>
        </li>
      </ol>
    </nav>
    <h1 class="text-light text-center text-lg-start py-3">Order Confirmation</h1>
  </div>
</section>

<div class="container pb-5 mb-sm-4">
  <div class="pt-5">
    <div class="card py-3 mt-sm-3">
      <div class="card-body text-center">
        <h2 class="h4 pb-3">Thank you for your order!</h2>
        <p class="fs-sm mb-2">Your order has been placed and will be processed as soon as possible.</p>
        <p class="fs-sm mb-3">Make sure you make note of your order number, which is <br><br><span
            class='h3 fw-medium text-accent'>{{this.order_no}}</span></p>
        <p class="fs-sm">You will be receiving an email shortly with confirmation of your order.</p>
        <a class="btn btn-secondary mt-3 me-3" routerLink="/menu">Go back shopping</a><a class="btn btn-primary mt-3"
          routerLink="/order-tracking"><i class="ci-location"></i>&nbsp;Track
          order</a>
      </div>
    </div>
  </div>
</div>

<!-- Footer-->
<app-footer></app-footer>