<app-header></app-header>

<!-- Page Title (Light)-->

<!-- <app-breadcrumbs title="Contacts" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs> -->




<!-- Page title-->
<section class="bg-darker bg-size-cover bg-position-center py-5"
  style="background-image: url(assets/img/food-delivery/restaurants/single/pt-bg.jpg);">
  <div class="container py-md-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
        <li class="breadcrumb-item"><a class="text-nowrap" href="javascript:void(0);" routerLink="/"><i
              class="ci-home"></i>Home</a>
        </li>
        <li class="breadcrumb-item text-nowrap"><a href="javascript:void(0);">Contact Us</a>
        </li>
      </ol>
    </nav>
    <h1 class="text-light text-center text-lg-start py-3">Contact Us</h1>
  </div>
</section>

<!-- Contact detail cards-->
<section class="container-fluid pt-grid-gutter">
  <div class="row">
    <div class="col-xl-3 col-sm-6 mb-grid-gutter"><a class="card h-100" href="javascript:void(0);" data-scroll
        [ngxScrollTo]="'#map'">
        <div class="card-body text-center"><i class="ci-location h3 mt-2 mb-4 text-primary"></i>
          <h3 class="h6 mb-2">Main Office address</h3>
          <p class="fs-sm text-muted">Chikex Fried Chicken & Restaurant LLC<br>
            Office # 1, Geepas Building 6,<br> Ajman, UAE</p>
          <div class="fs-sm text-primary">Click to see map<i class="ci-arrow-right align-middle ms-1"></i></div>
        </div>
      </a></div>
    <div class="col-xl-3 col-sm-6 mb-grid-gutter">
      <div class="card h-100">
        <div class="card-body text-center"><i class="ci-time h3 mt-2 mb-4 text-primary"></i>
          <h3 class="h6 mb-3">Working hours</h3>
          <ul class="list-unstyled fs-sm text-muted mb-0">
            <li>Mon - Sat: 09:00 AM - 6:00 PM</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-grid-gutter">
      <div class="card h-100">
        <div class="card-body text-center"><i class="ci-phone h3 mt-2 mb-4 text-primary"></i>
          <h3 class="h6 mb-3">Phone numbers</h3>
          <ul class="list-unstyled fs-sm mb-0">
            <li><span class="text-muted me-1"></span><a class="nav-link-style" href="tel:+97167418133">+971 56 534
                1301</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 mb-grid-gutter">
      <div class="card h-100">
        <div class="card-body text-center"><i class="ci-mail h3 mt-2 mb-4 text-primary"></i>
          <h3 class="h6 mb-3">Email addresses</h3>
          <ul class="list-unstyled fs-sm mb-0">
            <li><span class="text-muted me-1"></span><a class="nav-link-style"
                href="mailto:info.chikex@gmail.com">info.chikex@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Outlet stores-->
<ng-container>
  <div class="activation-area">
    <section class="container pt-4 mt-md-4 mb-2">
      <h2 class="h3 text-center mb-3">Outlet Locations</h2>
      <div class="row pt-4" *ngIf="location_list?.length>0">
        <div class="col-md-4 col-sm-6 mb-grid-gutter"
          *ngFor="let location of location_list;let i = index;trackBy:fromDataResolver.identify;">
          <div class="card border-0 shadow" style="height: 100%;">
            <!-- <img class="card-img-top"
              src="assets/img/contacts/orlando.jpg" alt="{{location.loc_name}}"> -->
            <div class="card-body">
              <h6>{{location.loc_name}}</h6>
              <ul class="list-unstyled mb-0">
                <li class="d-flex pb-3 border-bottom"><i class="ci-home fs-lg mt-2 mb-0 text-primary"></i>
                  <div class="ps-3"><span class="fs-ms text-muted">Find us</span><a class="d-block text-heading fs-sm"
                      href="javascript:void(0);">{{location.shopno||''}},{{location.street||''}},{{location.area||''}},{{getEmirateName(location.emirate)||''}}<br>{{location.landmark
                      }}</a>
                  </div>
                </li>
                <li class="d-flex pt-2 pb-3 border-bottom"><i class="ci-phone fs-lg mt-2 mb-0 text-primary"></i>
                  <div class="ps-3"><span class="fs-ms text-muted">Call us</span><a class="d-block text-heading fs-sm"
                      href="tel:{{location.loc_whatsapp}}">{{location.loc_contact_number}}</a></div>
                </li>
                <li class="d-flex pt-2 pb-3 border-bottom"><i class="ci-mail fs-lg mt-2 mb-0 text-primary"></i>
                  <div class="ps-3"><span class="fs-ms text-muted">Write us</span><a class="d-block text-heading fs-sm"
                      href="mailto:{{location.email}}">{{location.email}}</a></div>
                </li>
                <li class="d-flex pt-2"><i class="ci-location fs-lg mt-2 mb-0 text-primary"></i>
                  <div class="ps-3"><span class="fs-ms text-muted"><a [href]="location.loc_map"
                        class="d-block fs-sm text-primary">Get Direction</a></span></div>
                </li>
                <li class="d-flex pt-2 pb-3 border-bottom"><i class="ci-time fs-lg mt-2 mb-0 text-primary"></i>
                  <div class="ps-3"><span class="fs-ms text-muted">Opening Hours</span><a
                      class="d-block text-heading fs-sm" href="javascript:void();">{{location.working_hours_from}} -
                      {{location.working_hours_to}}</a></div>
                </li>

              </ul>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</ng-container>

<!-- Split section: Map + Contact form-->
<div class="container-fluid px-0" id="map">
  <div class="row g-0">
    <div class="col-lg-6 iframe-full-height-wrap">
      <iframe class="iframe-full-height" width="600" height="250"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3603.9513987992136!2d55.4368288!3d25.406437399999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f57848b7424c9%3A0x13f67229d0d31faf!2sGeepas%20Building%206!5e0!3m2!1sen!2sae!4v1677565554355!5m2!1sen!2sae"></iframe>
    </div>
    <div class="col-lg-6 px-4 px-xl-5 py-5 border-top">
      <h2 class="h4 mb-4">Drop us a line</h2>
      <form class="needs-validation mb-3" novalidate [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="row g-3">
          <div class="col-sm-6">
            <label class="form-label" for="cf-name">Your name:&nbsp;<span class="text-danger">*</span></label>
            <input class="form-control" type="text" id="cf-name" placeholder="Ente the name" required
              formControlName="name" [ngClass]="{ 'is-invalid': submitted && form['name'].errors }">
            <div class="invalid-feedback">Please fill in you name!</div>
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="cf-email">Email address:&nbsp;<span class="text-danger">*</span></label>
            <input class="form-control" type="email" id="cf-email" placeholder="Enter the mail id" required
              formControlName="email" [ngClass]="{ 'is-invalid': submitted && form['email'].errors }">
            <div class="invalid-feedback">Please provide valid email address!</div>
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="cf-phone">Your phone:&nbsp;<span class="text-danger">*</span></label>
            <input class="form-control" type="text" id="cf-phone" placeholder="Enter contact number" required
              formControlName="phone" [ngClass]="{ 'is-invalid': submitted && form['phone'].errors }">
            <div class="invalid-feedback">Please provide valid phone number!</div>
          </div>
          <div class="col-sm-6">
            <label class="form-label" for="cf-subject">Subject:</label>
            <input class="form-control" type="text" id="cf-subject" placeholder="Provide short title of your subject">
          </div>
          <div class="col-12">
            <label class="form-label" for="cf-message">Message:&nbsp;<span class="text-danger">*</span></label>
            <textarea class="form-control" id="cf-message" rows="6" placeholder="Please describe in detail your request"
              required formControlName="message"
              [ngClass]="{ 'is-invalid': submitted && form['message'].errors }"></textarea>
            <div class="invalid-feedback">Please write a message!</div>
            <button class="btn btn-primary mt-4" type="submit">Send message</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Footer-->
<app-footer></app-footer>