.activation-area {
    background: url(assets/img/bg.jpg) no-repeat scroll 0 0;
    transition: all .3s ease 0s;
    background-size: cover;
    background-position: center center;
    cursor: pointer
}

.text-accents img {
    width: 1em;
    height: auto;
    vertical-align: middle;
}

.whatsapp-float {
    z-index: 1050 !important;
}

@media (max-width: 767px) {
    .whatsapp-text {
        display: none !important;
    }
}