.activation-area {
    background: url(assets/img/bg.jpg) no-repeat scroll 0 0;
    transition: all .3s ease 0s;
    background-size: cover;
    background-position: center center;
    cursor: pointer
}