<app-header></app-header>

<section class="bg-darker bg-size-cover bg-position-center py-5"
    style="background-image: url(assets/img/food-delivery/restaurants/single/pt-bg.jpg);">
    <div class="container py-md-4">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
                <li class="breadcrumb-item"><a class="text-nowrap" routerLink="/"><i class="ci-home"></i>Home</a>
                </li>
                <li class="breadcrumb-item text-nowrap"><a href="/cart">Cart</a>
                </li>
            </ol>
        </nav>
        <h1 class="text-light text-center text-lg-start py-3">Order Confirmation</h1>
    </div>
</section>

<div class="activation-area">
    <div class="container pt-4 pb-3 py-sm-4">

        <div class="rounded-3 shadow-lg mt-4 mb-5">
            <div class="card shadow-sm mb-4">
                <div class="card-body p-0">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link py-3" href="/cart">
                                <span class="d-none d-sm-inline">1. </span>Your Order
                            </a>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link active py-3">
                                <span class="d-none d-sm-inline">2. </span>Checkout
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <form (ngSubmit)="completeorder()" [formGroup]="formData"
                class="needs-validation px-3 px-sm-4 px-xl-5 pt-sm-1 pb-4 pb-sm-5">

                <h2 class="h5 pb-2">Delivery address
                    <button type="button" class="btn btn-secondary" style="padding: 10px;" (click)="change_address()">
                        <span class="ci-edit"></span></button>

                </h2>

                <div class="row mb-4">
                    <ng-container>
                        <div class="col-sm-6 mb-4" *ngIf="current_address?.name">
                            <h4>{{current_address.name}}</h4>
                            <p>{{message}}</p>
                            <p>{{current_address.streetAddress}}</p>
                            <p>{{ current_address.flat }}, {{ current_address.building }},{{current_address.city}}</p>
                            <p>Landmark: {{ current_address.landmark }}</p>
                            <p>Phone: {{ current_address.mobile }}</p>
                        </div>
                    </ng-container>

                    <div class="col-12 mb-4">
                        <label class="form-label mb-3" for="fd-comments"><span
                                class="badge bg-info fs-xs me-2">Note</span>Additional comments</label>
                        <textarea class="form-control" rows="5" id="fd-comments" formControlName="comments"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mb-4 mb-sm-0">
                        <h2 class="h5 pb-2">Cash on delivery</h2>
                        <div class="form-check form-check-inline mb-3">
                            <input class="form-check-input" type="radio" name="payment" id="cash" value="COD" checked
                                formControlName="payment_type">
                            <label class="form-check-label" for="cash">Pay by cash</label>
                        </div>
                        <div class="d-flex align-items-center">
                            <label class="form-label fw-normal text-nowrap me-3 mb-0" for="fd-change">I need change
                                from</label>
                            <div class="input-group flex-nowrap" style="width: 10rem;"><span
                                    class="input-group-text text-accents"><!-- <i
                                        class="ci-dollar"></i> --><img src="assets/aedsymbol.png"
                                        alt="aed symbol" /></span>
                                <input class="form-control bg-none pe-3" type="number" id="fd-change"
                                    formControlName="need_change_from">
                            </div>
                        </div>
                        <div class="form-check form-check-inline mt-3">
                            <input class="form-check-input" type="radio" name="payment" id="card" value="Card Machine"
                                formControlName="payment_type">
                            <label class="form-check-label" for="cash">Pay by Card Machine</label>
                        </div>
                        <h2 class="h5 mt-3 pt-4 pb-2">Online payment</h2>
                        <div class="form-check form-check-inline pb-4">
                            <input class="form-check-input" type="radio" name="payment" id="online" value="Online"
                                formControlName="payment_type">
                            <label class="form-check-label" for="online">Pay with:&nbsp;&nbsp;&nbsp;<img
                                    class="d-inline-block align-middle" src="assets/img/cards.png" style="width: 187px;"
                                    alt="Cerdit Cards"></label>
                        </div>
                        <button class="btn btn-primary d-block w-100 mt-3" type="submit">Complete order</button>
                    </div>
                    <ng-container>
                        <div class="col-sm-6">
                            <div class="d-fle flex-column h-100 rounded-3 bg-secondary px-3 px-sm-4 py-4">
                                <h2 class="h5 pb-3">Your total</h2>
                                <div class="d-flex justify-content-between fs-md border-bottom pb-3 mb-3">
                                    <span>Subtotal:</span><span class="text-heading text-accents"><img
                                            src="assets/aedsymbol.png" alt="aed symbol" />
                                        {{checkoutInfo?.sub_total|number:'1.2-2'}}</span>
                                </div>
                                <div *ngIf="checkoutInfo?.coupon_applied"
                                    class="d-flex justify-content-between fs-md border-bottom pb-3 mb-3">
                                    <span>Discount:</span><span class="text-heading text-accents"><img
                                            src="assets/aedsymbol.png" alt="aed symbol" />
                                        {{checkoutInfo?.discount|number:'1.2-2'}}<small></small></span>
                                </div>
                                <div class="d-flex justify-content-between fs-md border-bottom pb-3 mb-3">
                                    <span>Delivery Charges:</span><span class="text-heading text-accents"><img
                                            src="assets/aedsymbol.png" alt="aed symbol" />
                                        {{checkoutInfo?.delivery_charges|number:'1.2-2'}}</span>
                                </div>
                                <div class="d-flex justify-content-between fs-md mb-2"><span>Total:</span><span
                                        class="text-heading fw-medium text-accents"> <img src="assets/aedsymbol.png"
                                            alt="aed symbol" />
                                        {{checkoutInfo?.total_price|number:'1.2-2'}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-container>

                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>