<footer class="footer bg-darker pt-5">

  <div class="container pt-2">
    <div class="row pb-2">
      <div class="col-lg-4 col-sm-4 pb-2 mb-4">
        <!--   <div class="mt-n1"><a class="d-inline-block align-middle" routerLink="/"><img class="d-block mb-4"
              src="assets/img/footer-logo-light.png" width="117" alt="Chikex"></a></div> -->
        <h3 class="widget-title text-light">Chikex Fried Chicken &Restaurant L.L.C</h3>
        <ul class="list-unstyled fs-sm text-muted mb-0">
          <li class="widget-list-item"><i class="ci-home fs-lg mt-1 p-2 mb-0 text-primary"></i>Office # 1, Geepas
            Building
            6, Ajman, UAE</li>
          <li class="widget-list-item"><i class="ci-time fs-lg mt-1 p-2 mb-0 text-primary"></i>Working Hours : 09:00 AM
            to
            06:00 PM</li>
          <li class="widget-list-item"><i class="ci-phone fs-lg mt-1 p-2 mb-0 text-primary"></i> <a class="text-muted"
              href="tel:+971 67 418 133">+971 56 534 1301</a></li>
          <li class="widget-list-item"><i class="ci-mail fs-lg mt-1 p-2 mb-0 text-primary"></i> <a class="text-muted"
              href="mailto:info.chikex@gmail.com">info.chikex@gmail.com</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="widget widget-links widget-light pb-2 mb-4">
          <h3 class="widget-title text-light">Quick Links</h3>
          <ul class="widget-list">
            <li class="widget-list-item"><a class="widget-list-link" routerLink="/home">Home</a></li>
            <li class="widget-list-item"><a class="widget-list-link" routerLink="/pages/about">About Us</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="/pages/careers">Join Us</a></li>
            <!-- <li class="widget-list-item"><a class="widget-list-link" href="javascript:void(0);">My Account</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="javascript:void(0);">Become a Courier</a>
            </li> -->
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="widget widget-links widget-light pb-2 mb-4">
          <h3 class="widget-title text-light">Let us help you</h3>
          <ul class="widget-list">
            <!-- <li class="widget-list-item"><a class="widget-list-link" href="javascript:void(0);">Help Center</a></li>
            <li class="widget-list-item"><a class="widget-list-link" href="javascript:void(0);">Support</a></li> -->
            <li class="widget-list-item"><a class="widget-list-link" routerLink="/pages/contacts">Contacts</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-4">
        <div class="widget widget-links widget-light pb-2 mb-4">
          <h3 class="widget-title text-light">Follow us</h3>
          <ul class="widget-list">
            <li class="widget-list-item"><a class="widget-list-link"
                href="https://www.facebook.com/profile.php?id=100082858976080">Facebook</a></li>
            <li class="widget-list-item"><a class="widget-list-link"
                href="https://www.instagram.com/chikexuae/">Instagram</a></li>
            <li class="widget-list-item"><a class="widget-list-link"
                href="https://www.youtube.com/channel/UCF4z0roEEZHSHdkXiuETllg">You Tube</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-sm-8">
        <div class="widget pb-2 mb-4">
          <h3 class="widget-title text-light pb-1">Download our app</h3>
          <div class="d-flex flex-wrap"><a class="btn-market btn-apple border border-light me-3 mb-2"
              href="https://apps.apple.com/ae/app/chikex/id6744054503" role="button"><span
                class="btn-market-subtitle">Download on the</span><span class="btn-market-title">App
                Store</span></a><a class="btn-market btn-google border border-light mb-2"
              href="https://play.google.com/store/apps/details?id=com.chikex.ecom&pcampaignid=web_share"
              role="button"><span class="btn-market-subtitle">Download on the</span><span
                class="btn-market-title">Google
                Play</span></a></div>
        </div>
      </div>
    </div>

    <hr class="hr-light mt-md-2 mb-3">

    <section class="container py-3 py-lg-2 mt-1 mb-1 ">
      <div class="row pb-1 justify-content-between">
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex"><i class="ci-rocket text-primary" style="font-size: 2.25rem;"></i>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">Fast and free delivery</h6>
              <p class="mb-0 fs-ms text-light opacity-50">Free delivery for all orders</p>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex"><i class="ci-currency-exchange text-primary" style="font-size: 2.25rem;"></i>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">Money back guarantee</h6>
              <p class="mb-0 fs-ms text-light opacity-50">We return money within 7 days</p>
            </div>
          </div>
        </div> -->
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex"><i class="ci-support text-primary" style="font-size: 2.25rem;"></i>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">24/7 customer support</h6>
              <p class="mb-0 fs-ms text-light opacity-50">Friendly 24/7 customer support</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 mb-4">
          <div class="d-flex"><i class="ci-card text-primary" style="font-size: 2.25rem;"></i>
            <div class="ps-3">
              <h6 class="fs-base text-light mb-1">Secure online payment</h6>
              <p class="mb-0 fs-ms text-light opacity-50">We possess SSL / Secure сertificate</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr class="hr-light mt-md-2 mb-3">
    <div class="d-md-flex justify-content-between pt-4 pb-1">
      <div class="pb-4 fs-xs text-light opacity-50 text-center text-md-start">© All rights reserved. Made by <a
          class="text-light" href="javascript:void(0);" routerLink="/" target="_blank" rel="noopener">Chikex Fried
          Chicken &
          Restaurant L.L.C</a>
      </div>
      <div class="widget widget-links widget-light pb-4">
        <ul class="widget-list d-flex flex-wrap justify-content-center justify-content-md-start">
          <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" routerLink="/pages/privacypolicy">Privacy
              Policy</a></li>
          <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" routerLink="/pages/terms">Terms &amp;
              Conditions</a></li>
          <li class="widget-list-item ms-4"><a class="widget-list-link fs-ms" routerLink="/pages/cookiepolicy">Cookies
              Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Back To Top Button-->
<a class="btn-scroll-top" href="javascript:void(0)" [ngxScrollTo]="'#home'" data-scroll>
  <span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
  <i class="btn-scroll-top-icon ci-arrow-up"></i>
</a>